a {
  color: #11999E;
  margin: 10px 20px;
  font-family: 'Merriweather', serif;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
hr {
  border: dotted lightgrey 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight:normal;
  padding-bottom: 5px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2
}

.art-image {
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-left: 15px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left:300px;
  bottom: 250px;
}

.computer-image {
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.contact-me {
  padding-bottom: 100px;
}

.conntact-message {
  width:40%;
  margin: 40px auto 60px;
}

.credits-text {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding-top: 20px;
}

.middle-container {
  padding-top: 100px;
}

.profile-description {
  width: 30%;
  margin: auto;
}

.profile-image {
  width: 15%;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 30px;
}

.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 200;
   padding: 25px;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #2BC4AD 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   text-decoration: none;
}
